---
import Button from "../components/Button.astro";

import FacebookIcon from "../components/icons/FacebookIcon.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import SpotifyIcon from "../components/icons/SpotifyIcon.astro";

const {
  imgHref,
  heading,
  caption,
  buttonUrl,
  buttonText = "Purchase Add-On",
  bandUrl,
  bandFacebook,
  bandInstagram,
  bandSpotify,
} = Astro.props;
---

<li class="card">
  <img class="card-img" src={imgHref} />
  <div class="card-content">
    <h3 class="card-heading u-font-lg">{heading}</h3>
    {bandUrl && <a href={`https://${bandUrl}`}>{bandUrl}</a>}
    {caption && <p class="card-caption u-font-md">{caption}</p>}
    {buttonUrl && <Button href={buttonUrl}>{buttonText}</Button>}
    {
      bandFacebook && (
        <a href={bandFacebook} target="_blank">
          <FacebookIcon />
        </a>
      )
    }
    {
      bandInstagram && (
        <a href={bandInstagram} target="_blank">
          <InstagramIcon />
        </a>
      )
    }
    {
      bandSpotify && (
        <a href={bandSpotify} target="_blank">
          <SpotifyIcon />
        </a>
      )
    }
  </div>
</li>

<style>
  .card {
    border: 1px solid var(--dark);
    background-color: var(--darker);
  }
  .card-img {
    width: 100%;
    height: 0;
    padding-top: 66.6%;
    background: var(--black);
    border-bottom: 1px solid var(--dark);
  }
  .card-content {
    padding: 0.5rem 1rem 1rem 1rem;
  }
  .card-heading {
    margin: 0;
  }
  .card-heading + .card-caption {
    margin-top: 0;
  }
</style>
