---
import Button from "./Button.astro";
import Card from "./Card.astro";

const ticketLink =
  "https://www.eventbrite.com/e/breaking-darkness-music-festival-2026-tickets-1977786723330";
---

<section id="tickets" class="tickets-section section">
  <div class="u-container">
    <h2 class="section-heading u-font-xl">2026 Tickets & Add-Ons</h2>
    <div class="tickets-layout">
      <Button href={ticketLink} subtext="Limited edition">Early Admission Ticket + Swag Bag</Button>
      <Button href={ticketLink} subtext="30% Off — purchase before May 1">
        Discount Advanced Ticket
      </Button>
      <Button href={ticketLink} subtext="20% off — Discount Advance Ticket">
        4 pack advanced ticket
      </Button>
    </div>
    <ul class="addon-deck u-list-reset">
      <Card
        heading="Festival Shirt"
        imgHref="add-ons/shirt.jpg"
        caption="($18 PLUS TAX)"
        buttonUrl={ticketLink}
      />
      <Card
        heading="Poster Kit"
        imgHref="add-ons/poster-kit.jpg"
        caption="($12 PLUS TAX)"
        buttonUrl={ticketLink}
      />
      <Card
        heading="Souvenir Lanyard"
        imgHref="add-ons/lanyard.jpg"
        caption="($8 PLUS TAX)"
        buttonUrl={ticketLink}
      />
    </ul>
  </div>
</section>

<style is:global>
  .tickets-layout {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
  }
  .tickets-layout .button {
    display: flex;
    flex-direction: column;
    flex: 1 0 19rem;
    align-items: center;
    justify-content: center;
    min-height: 4.2rem;
    margin: 0.5rem;
  }
  .tickets-layout .button:first-of-type {
    min-width: calc(100% - 1rem);
  }
  .addon-deck {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem -0.5rem;
  }
  .addon-deck .card {
    margin: 0.5rem;
    flex: 1 0 auto;
    text-align: center;
  }
  @media (min-width: 666px) {
    .addon-deck .card {
      max-width: calc(33.333% - 1rem);
    }
  }
  .addon-deck .card:first-of-type {
    flex: 1 1 auto;
  }
  .addon-deck .card-img {
    width: 100%;
    position: relative;
  }
  .addon-deck .button {
    font-size: var(--font-sm);
  }
</style>
